body{
  font-family:Roboto;
  overflow-x: hidden;
  background-color: #f9f7f7;
  font-weight: 100;margin: 0;padding: 0;
}
input[type=text] {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid var(--cool-gray-80,#283e4a);
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 6px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.header{
  background-color:var(--cool-gray-80,#283e4a);
  width: 100vw;
  height: 13vh;
  margin-bottom: 20px;
}
.searchBtn{
  border: 2px solid #283e4a;
  padding-top: 20px;
}
.headerfaicons{
padding-left: 2.3vw;
color: white;
padding-top: 0.8vh;
text-align: center;

}
.headerfaicons:hover{
  color: grey;
}
.head{
  box-shadow: 2px 2px 2px 2px grey;
}

.BannerImage{
  width: 100%;
  height: 38vh;
}
.YaarMeLogo{
  position: relative;
  bottom: 70px;
  left: 20px;
  float: left;
}
.SubHead1{
  position: relative;
  bottom: 10px;
  left: 30px;
}
.SubHead2{
  position: relative;
  bottom: 25px;
  left: 30px;
  color: gray;
}
.SubHead3{
    position: relative;
    bottom: 30px;
    right: 80px;
}
#button1{
  background-color: #187bcd;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position:relative;
  bottom: 40px;
  left: 18px;

}
.button2{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color:#187bcd;
  border: 2px solid #187bcd;
  position:relative;
  bottom: 40px;
  left: 18px;

}
.button2:hover{
  color: white;
  background-color: lightcyan;
}
.avisitwebsite{
  text-decoration: none;
  color: #187bcd;
}
.avisitwebsite:hover{
color: #3f72af;
text-decoration: underline;

}

.finalHeader{
  color:  #187bcd;
  position: relative;
  bottom: 30px;
  display: inline-block;
  float: right;
}
.afinalHeader{
  color:  #187bcd;
}
.afinalHeader:hover{
  color: #3f72af;
}
.aleftBody{
  text-decoration: none;
  color: gray;
}
.aleftBodyCurrent{
  text-decoration: none;
    color:  #187bcd;

}
.aleftBodyCurrent{
  color:  #3f72af;

}
.aleftBody:hover{
    color: #3f72af;
}
.float-container{
  /* border: 3px solid #fff; */
    padding: 20px;
}
.leftBody{
  position: relative;
  top: 20px;
  width: 10%;
  box-shadow: 2px 2px 2px 2px grey;
    margin-bottom: 230px;
    width: 13%;
    float: left;
    padding-right:  20px;
    /* border: 2px solid red; */
}
.centreBodyUp{

  width: 48%;
    margin-bottom: 20px;
    float: left;
    padding-left: 20px;
    /* border: 2px solid ; */
    box-shadow: 2px 2px 2px 2px grey;
    position: relative;
    left: 50px;
    top:20px;
    margin-bottom: 20px;
}
.centreBodyUpprofile{
    text-align: center;
    width: 16%;
    margin-bottom: 20px;
    float: left;
    padding-left: 20px;
    /* border: 2px solid ; */
    box-shadow: 2px 2px 2px 2px grey;
    position: relative;
    left: 50px;
    top:20px;
    margin-bottom: 20px;
    background: -webkit-linear-gradient(top, grey 20%,white 70%);
    margin-bottom: 20px;
}
.centreBodyUpprofile1{
    text-align: center;
    width: 16%;
    margin-bottom: 20px;
    float: left;
    padding-left: 20px;
    /* border: 2px solid ; */
    box-shadow: 2px 2px 2px 2px grey;
    position: relative;
    left: 80px;
    top:20px;
    height: 54vh;
    margin-bottom: 20px;
    background: -webkit-linear-gradient(top, grey 20%,white 70%);


}
#profileBtn{

  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  background-color: white;
  color:#187bcd;
  border: 2px solid #187bcd;
}
#profileBtn1{

  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  background-color: white;
  color:#187bcd;
  border: 2px solid #187bcd;
  margin-top: 19px;
}
/* Media query for responsiveness */
@media only screen and (max-width: 800px) {
  .header{
    visibility: collapse;

  }
  .head{
  height: 20%;
  }
  .rightBody1, .centreBodyUp1, .rightBody, .mediaQ1 , .SubHead3 , .finalHeader{
    visibility: collapse;
  }
  .leftBody{
    width: 20%;


  }

  .centreBodyUp{
    width: 60%;
    position: relative;
    top:0.5vh;

  }
  #centreBodyHead{
    width: 80%;
    position: absolute;
    top: 175vh;
  }
  #peoplealsobtn4{
    visibility: collapse;
  }
  .centreBodyUpprofile{
    width: 22vw;
    height: 40vh;
    position: relative;
    top: 0.3vh;
  }
  .centreBodyUpprofile1{
    width: 22vw;
    height: 40vh;
    position: relative;
    top: 0.3vh;
  }
  #profileBtn{
    position: relative;
    bottom: 15vh;
    right: 2vw;
  }
  #profileBtn1{
    position:relative;
      bottom: 6vh;
      right: 2vw;
  }
  /* .mediaQ2{
    visibility: visible;
  } */
  /* .leftBody{
    visibility: hidden;
  } */
}
@media only screen and (min-width:400px) and (max-width: 450px){
  .header{
    visibility: collapse;

  }
  .head{
  height: 20%;
  }
  .rightBody1, .centreBodyUp1, .rightBody, .mediaQ1 , .SubHead3 , .finalHeader{
    visibility: collapse;
  }
  .leftBody{
    width: 20%;


  }

  .centreBodyUp{
    width: 60%;
    position: relative;
    top:0.5vh;

  }
  #centreBodyHead{
    width: 80%;
    position: absolute;
    top: 175vh;
  }
  #peoplealsobtn4{
    visibility: collapse;
  }
  .centreBodyUpprofile{
    width: 25vw;
    height: 30vh;
    position: relative;
    top: 0.3vh;
  }
  .centreBodyUpprofile1{
    width: 25vw;
    height: 30vh;
    position: relative;
    top: 0.3vh;
  }
  #profileBtn{
    position: relative;
    bottom: 12vh;
    right: 2vw;
  }
  #profileBtn1{
    position:relative;
      bottom: 6vh;
      right: 2vw;
  }
}
@media only screen and (min-width:300px) and (max-width: 400px){
  .header{
    visibility: collapse;

  }
  .head{
  height: 20%;
  }
  .rightBody1, .centreBodyUp1, .rightBody, .mediaQ1 , .SubHead3 , .finalHeader{
    visibility: collapse;
  }
  .leftBody{
    width: 20%;


  }

  .centreBodyUp{
    width: 60%;
    position: relative;
    top:0.5vh;

  }
  #centreBodyHead{
    width: 80%;
    position: absolute;
    top: 175vh;
  }
  #peoplealsobtn4{
    visibility: collapse;
  }
  .centreBodyUpprofile{
    width: 26vw;
    height: 30vh;
    position: relative;
    top: 0.3vh;
  }
  .centreBodyUpprofile1{
    width: 26vw;
    height: 30vh;
    position: relative;
    top: 0.3vh;
  }
  #profileBtn{
    position: relative;
    bottom: 15vh;
    right: 3.5vw;
  }
  #profileBtn1{
    position:relative;
      bottom: 11vh;
      right: 3.5vw;
  }
}
